@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
.parte1-main{
    width: 100%;
    height: 200vh;
    padding: 0 2em 0 2em;
    background: url(../assets/images/img-02-mar.jpg);
    background-size:cover;
}
.parte1-main .cabecalho{
    display:flex;
    justify-content: space-between;
    padding: 2em;
    align-items:center;
   color: #fff;
    width: 100%;
    height: 7em;
    box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
-webkit-box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
-moz-box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
backdrop-filter: blur(5px);
}
.cabecalho .logo h1{
    font-size: 1.2em;
    cursor: pointer;
}
.cabecalho .logo h1 figure{
    display: flex;
    align-items: center;
}
.cabecalho .logo h1 figure img{
    height: 5em;
}
.cabecalho a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-right: 5em;
    padding: 2%;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.cabecalho .botao{
    display: flex;
    align-items: center;
    height: 8vh;
    border-radius: 15px;
    background-color: #46DB6C;
}
.cabecalho .botao:hover{
  
    transition: all 0.2s ease-in;
    background-color: #46B5DB;
}
.cabecalho a:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.parte1-main .container{
    display: flex;
    padding:  0 0 25em 0;
    flex-direction: column;
    color: #fff;
    padding-top: 25vh;
}

.parte1-main .container h2 {
    font-size: 3em;
    max-width: 80%;
    animation: slideInFromLeft 1s ease-out;
}
.parte1-main .container h3{
    position:absolute;
    margin: 9em 1em 0 0;
    top: 60%;
    font-size: 3em;
    left: 42%;
    max-width: 80%;
    animation: slideInFromRight 1s ease-out;
}

