@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.parte1-main{
    width: 100%;
    height: 100%;
    padding: 0 2em 0 2em;
    background: url(../assets/images/img-02-parte-1-main.jpg);
    background-size:cover;
}
 .cabecalho{
    display:flex;
    justify-content: space-between;
    padding: 0 2em 0 2em;
    align-items:center;
   color: #fff;
    width: 100%;
    height: 8em;
    box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
-webkit-box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
-moz-box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
backdrop-filter: blur(5px);
}

.cabecalho .logo h1{
    font-size: 1.3em;
    cursor: pointer;
}
.cabecalho .logo figure{
   
    display: flex;
    align-items: center;
}
.cabecalho .logo figure img{
    width: 5em;
}
.cabecalho .links-cabecalho{
    display: flex;
  
    justify-content: center;
    gap: 3em;

}
.cabecalho a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.cabecalho .botao{
    font-weight: bold;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 4em;
    border-radius: 12px;
    background-color: #46DB6C;
}
.cabecalho .cadastro{
   display: flex;
   align-items: center;
}
.cabecalho .botao:hover{
    transition: all 0.2s ease-in;
    background-color: #46B5DB;
}
.cabecalho a:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.parte1-main .container{
    display: flex;
    padding:  0 0 25em 0;
    gap: 22em;
    flex-direction: column;
    color: #fff;
    padding-top: 25vh;
}

.parte1-main .container h2{
    font-size: 2em;
    max-width: 80%;
}
.parte1-main .container .area-texto2{
    display: flex;
    justify-content: space-around;
}
.parte1-main .container .area-texto2{
    display: flex;
    align-items: center;
    gap: 3em;
    justify-content: center;
}
.parte1-main .container .area-texto2 figure img{
   height:8em;
}
.parte1-main .container .area-texto2 .texto2{
    font-weight: bold;
    
    font-size: 2em;
    max-width: 60%;
    
}
/*----------------parte integrantes -------------------*/
.parte1-main .integrantes{
    display: flex;
    height: 100vh;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.parte1-main .integrantes .info-integrantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    align-items: center;
    width: 20vw;
    border: solid 3px #fff;
    background: #0d3543;
    background: linear-gradient(16deg,#0d3543 0%, #46b5db 80%);
    background: -webkit-linear-gradient(16deg,#0d3543 0%, #46b5db 80%);
    background: -moz-linear-gradient(16deg,#0d3543 0%, #46b5db 80%);
    margin: 3%;
    padding: 3%;
}
.parte1-main .integrantes .info-integrantes h2{
    font-size: 1em;
}
.parte1-main .integrantes .info-integrantes h3{
    font-size: 0.8em;
}
.parte1-main .integrantes .info-integrantes figure img{
    height: 10em;
    border-radius: 50%;
    border: solid 3px #fff;
}
.parte1-main .integrantes .info-integrantes figure .github{
    height: 3em;
   border: none;
}
/*----------------fim parte integrantes -------------------*/
.parte2-main{
    width: 100%;
    padding: 0 2em 0 2em;
    background: url(../assets/images/img-03-parte-2-main.jpg);
    background-size:cover;
}
.parte2-main .container{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 5em;
    margin-top: 10em;
}
.parte2-main .container article{
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.parte2-main .container article h4{
    font-size: 3em;
}
.parte2-main .container .corais{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10%;
}
.parte2-main .container .corais figure img{
   width: 30em;
   
   height: 20em;
}
.parte2-main .container .corais figure figcaption{
    display: flex;
    padding-top: 1em;
    padding-bottom: 6em;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 600;
}
.parte3-main{
    width: 100%;
    padding: 0 2em 0 2em;
    background: url(../assets/images/img-09-parte-3-main.jpg);
    background-size:cover;
}
.parte3-main .container{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 5em;
    margin-top: 10em;
}
.parte3-main .container article{
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.parte3-main .container article h4{
    font-size: 3em;
}
.parte3-main .container article p{
    max-width: 70%;
}
.parte3-main .container article .sea-guardian-info{
    display: flex;
    justify-content: center;
    gap: 3em;
    align-items: center;
}

.parte3-main .container article .sea-guardian-info figure img{
    height:9em;  
    border-radius: 20px;
}
.parte3-main .container article .sea-guardian-info-secundaria{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 10em;
}
.parte3-main .container article .sea-guardian-info-secundaria h5,h6{
    font-size: 1.5em;
}
.parte3-main .container article .sea-guardian-info-secundaria p{
    padding-bottom: 3em;
}
.parte3-main .container article .sea-guardian-info-secundaria .seta{
    display: flex;
    max-width: 70%; 
    align-items: center;
}
.parte3-main .container article .sea-guardian-info-secundaria .seta .corpo-seta{
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}
.parte3-main .container article .sea-guardian-info-secundaria .seta .cabeca-seta{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 15px solid transparent;
 
}
.parte3-main .container article .sea-guardian-info-secundaria .etapas{
    display: flex;
    max-width: 70%; 
    gap: 1.5em;
    align-items: center;
   
}

.parte3-main .container article .sea-guardian-info-secundaria .etapas figure img{
    background-color: #fff;
    padding: 1%;
    border-radius: 50%;
    height: 7em;
}
.parte3-main .container article .sea-guardian-info-secundaria .etapas figure figcaption h4{
    max-width: 60%;
    padding-top: 2%;
    font-size: 0.9em;
    font-weight: 500;
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    color: #fff;
    padding: 2%;
    text-align: center;
    background-color: #0d3543;
}
.rodape p{
   font-weight: bold;
}
.rodape .rodape-info{
  display: flex;
  flex-direction: column;
  gap: 1em;

}
.rodape .rodape-info a{
    text-decoration: none;
    color: #fff;
}
/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para a página de login */
body.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../assets/images/img-02-parte-1-main.jpg) no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    color: #fff;
    border: 2px solid #fff;
    padding: 1.7em 2em;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    padding-top: 1em;
}

.login-container .back-to-home{
    text-decoration: none;
    color: #fff;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container p {
    margin-top: 20px;
}

.login-container p a {
    color: #4CAF50;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}

.login-container form i{
    color: #000;
    overflow: visible;
    display: grid;
    position: relative;
    cursor: pointer;
    bottom: 3em;
    transform: scale(1.2);
    margin: 0 4em 0 88%;
}

/* Estilos para a página de cadastro */
body.signup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../assets/images/img-09-parte-3-main.jpg) no-repeat center center fixed;
    background-size: cover;
}

.signup-container {
    color: #fff;
    border: 2px solid #fff;
    padding: 1.7em 2em;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
    padding-top: 1em;
}

.signup-container .back-to-home{
    text-decoration: none;
    color: #fff;
}

.signup-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.signup-container .inputs i1, i2, i3{
    color: #000;
    overflow: visible;
    display: grid;
    position: relative;
    cursor: pointer;
    bottom: 3em;
    transform: scale(1.2);
    margin: 0 4em 0 88%;
}
.signup-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #45a049;
}

.signup-container p {
    margin-top: 20px;
}

.signup-container p a {
    color: #4CAF50;
    text-decoration: none;
}

.signup-container p a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .parte1-main{
        padding: 0;
    }
    .cabecalho{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        
        align-items:center;
       color: #fff;
        width: 100%;
        height : 22em;
        box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
    backdrop-filter: blur(5px);
    }
    .cabecalho .logo h1{
        font-size: 1.5em;
        cursor: pointer;
    }
    .cabecalho .logo figure{
        padding-top: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cabecalho .logo figure img{
        width: 5em;
    }
    .cabecalho .links-cabecalho{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;
    
    }
    .cabecalho a{
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        padding: 10px;
        transition: color 0.3s ease, text-shadow 0.3s ease;
    }
    .cabecalho .botao{
        font-weight: bold;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        height: 4em;
        border-radius: 12px;
        background-color: #46DB6C;
    }
    .cabecalho .cadastro{
       display: flex;
       flex-direction: column;
       gap: 1em;
       align-items: center;
       padding-bottom: 0.5em;
    }
    .cabecalho .botao:hover{
        transition: all 0.2s ease-in;
        background-color: #46B5DB;
    }
    .cabecalho a:hover{
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    
.parte1-main .container{
    display: flex;
    padding:  0 0 10em 0;
    gap: 2em;
    flex-direction: column;
    color: #fff;
    padding-top: 7vh;
}

.parte1-main .container h2{
    padding-left: 1em;
    font-size: 1.3em;
    max-width: 80%;
}
.parte1-main .container .area-texto2{
    display: flex;
    justify-content: space-around;
}
.parte1-main .container .area-texto2{
    display: flex;
    align-items: center;
    gap: 3em;
    justify-content: center;
}
.parte1-main .container .area-texto2 figure img{
   height:5em;
}
.parte1-main .container .area-texto2 .texto2{
    font-weight: bold;
    font-size: 1.3em;
    max-width: 60%;
    
}
/*----------------parte integrantes -------------------*/
.parte1-main .integrantes{
    display: flex;
    flex-direction: column;
    margin: 5em 0;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.parte1-main .integrantes .info-integrantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    align-items: center;
    width: 70vw;
    border: solid 3px #fff;
    background: #0d3543;
    background: linear-gradient(16deg,#0d3543 0%, #46b5db 80%);
    background: -webkit-linear-gradient(16deg,#0d3543 0%, #46b5db 80%);
    background: -moz-linear-gradient(16deg,#0d3543 0%, #46b5db 80%);
    margin: 3%;
    
}
.parte1-main .integrantes .info-integrantes h2{
    font-size: 1em;
}
.parte1-main .integrantes .info-integrantes h3{
    font-size: 0.8em;
}
.parte1-main .integrantes .info-integrantes figure img{
    height: 10em;
    border-radius: 50%;
    border: solid 3px #fff;
}
.parte1-main .integrantes .info-integrantes figure .github{
    height: 3em;
   border: none;
}
/*-----------------fim integrantes-----------------------*/
.parte2-main{
    width: 100%;
    padding: 0 2em 0 2em;
    background: url(../assets/images/img-03-parte-2-main.jpg);
    background-size:cover;
}
.parte2-main .container{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 3em;
    margin-top: 5em;
}
.parte2-main .container article{
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.parte2-main .container article h4{
    font-size: 2em;
}
.parte2-main .container .corais{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
   
}
.parte2-main .container .corais figure img{
   width: 20em;
   height: 15em;
}
.parte2-main .container .corais figure figcaption{
    display: flex;
    padding-top: 1em;
    padding-bottom: 6em;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 600;
}
.parte3-main{
    width: 100%;
    padding: 0;
    background: url(../assets/images/img-09-parte-3-main.jpg);
    background-size:cover;
}
.parte3-main .container{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 3em;
    margin-top: 5em;
}
.parte3-main .container article{
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.parte3-main .container article h4{
    font-size: 2em;
}
.parte3-main .container article p{
    max-width: 80%;
}
.parte3-main .container article .sea-guardian-info{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3em;
    align-items: center;
}

.parte3-main .container article .sea-guardian-info figure img{
    height:9em;  
    border-radius: 20px;
}
.parte3-main .container article .sea-guardian-info-secundaria{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 10em;
}
.parte3-main .container article .sea-guardian-info-secundaria h5,h6{
    font-size: 1.2em;
}
.parte3-main .container article .sea-guardian-info-secundaria p{
    padding-bottom: 3em;
}
.parte3-main .container article .sea-guardian-info-secundaria .seta{
    display: flex;
    max-width: 100%; 
    align-items: center;
}
.parte3-main .container article .sea-guardian-info-secundaria .seta .corpo-seta{
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}
.parte3-main .container article .sea-guardian-info-secundaria .seta .cabeca-seta{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 15px solid transparent;
 
}
.parte3-main .container article .sea-guardian-info-secundaria .etapas{
    display: flex;
    max-width: 100%; 
    gap: 1em;
    align-items: center;
   
}

.parte3-main .container article .sea-guardian-info-secundaria .etapas figure img{
    background-color: #fff;
    padding: 1%;
    border-radius: 50%;
    height: 4em;
}
.parte3-main .container article .sea-guardian-info-secundaria .etapas figure figcaption h4{
    max-width: 80%;
    padding-top: 2%;
    font-size: 0.8em;
    font-weight: 500;
}
}
@media only screen and (min-width: 601px) and (max-width: 1060px){
    .parte1-main{
        padding: 0;
        background: url(../assets/images/img-02-parte-1-main.jpg);
        background-size:cover;
    }
     .cabecalho{
        display:flex;
        justify-content: space-evenly;
      flex-wrap: wrap;
        align-items:center;
       color: #fff;
        width: 100%;
        height: 12em;
        box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 6px 12px 0px rgba(0,0,0,0.49);
    backdrop-filter: blur(5px);
    }
    
    .cabecalho .logo h1{
        font-size: 1.1em;
        cursor: pointer;
    }
    .cabecalho .logo figure{
       
        display: flex;
        align-items: center;
    }
    .cabecalho .logo figure img{
        width: 5em;
    }
    .cabecalho .links-cabecalho{
        display: flex;

        justify-content: center;
        gap: 2em;
    
    }
    .cabecalho a{
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        padding: 10px;
        transition: color 0.3s ease, text-shadow 0.3s ease;
    }
    .cabecalho .botao{
        font-weight: bold;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 16vw;
        height: 4em;
        border-radius: 12px;
        background-color: #46DB6C;
    }
    .cabecalho .cadastro{
       display: flex;
       align-items: center;
    }
    .cabecalho .botao:hover{
        transition: all 0.2s ease-in;
        background-color: #46B5DB;
    }
    .cabecalho a:hover{
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }  
    
.parte1-main .container{
    display: flex;
    padding:  0 0 10em 0;
    gap: 10em;
    flex-direction: column;
    color: #fff;
    padding-top: 10vh;
}

.parte1-main .container h2{
    padding-left: 1em;
    font-size: 1.5em;
    max-width: 80%;
}
.parte1-main .container .area-texto2{
    display: flex;
    justify-content: space-around;
}
.parte1-main .container .area-texto2{
    display: flex;
    align-items: center;
    gap: 3em;
    justify-content: center;
}
.parte1-main .container .area-texto2 figure img{
   height:6em;
}
.parte1-main .container .area-texto2 .texto2{
    font-weight: bold;
    font-size: 1.5em;
    max-width: 60%;
    
}
/*----------------parte integrantes -------------------*/
.parte1-main .integrantes{
    display: flex;
    height: 100vh;
    color: #fff;
    justify-content: center;
    padding: 1em;
    align-items: center;
    gap: 1em;
}
.parte1-main .integrantes .info-integrantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    align-items: center;
    width: 40vw;
    height: 30vh;
    border: solid 3px #fff;
    background: #0d3543;
    background: linear-gradient(16deg,#0d3543 0%, #46b5db 80%);
    background: -webkit-linear-gradient(16deg,#0d3543 0%, #46b5db 80%);
    background: -moz-linear-gradient(16deg,#0d3543 0%, #46b5db 80%);
    margin: 5% 0;
    padding: 2%;
}
.parte1-main .integrantes .info-integrantes h2{
    font-size: 1em;
}
.parte1-main .integrantes .info-integrantes h3{
    font-size: 0.8em;
}
.parte1-main .integrantes .info-integrantes figure img{
    height: 7em;
    border-radius: 50%;
    border: solid 3px #fff;
}
.parte1-main .integrantes .info-integrantes figure .github{
    height: 2em;
   border: none;
}
/*----------------fim parte integrantes -------------------*/
.parte2-main{
    width: 100%;
    padding: 0 2em 0 2em;
    background: url(../assets/images/img-03-parte-2-main.jpg);
    background-size:cover;
}
.parte2-main .container{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 5em;
    margin-top: 5em;
}
.parte2-main .container article{
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.parte2-main .container article h4{
    font-size: 2.5em;
}
.parte2-main .container .corais{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 7%;
}
.parte2-main .container .corais figure img{
   width: 20em;
   
   height: 15em;
}
.parte2-main .container .corais figure figcaption{
    display: flex;
    padding-top: 1em;
    padding-bottom: 6em;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 600;
}
.parte3-main{
    width: 100%;
    padding: 0 2em 0 2em;
    background: url(../assets/images/img-09-parte-3-main.jpg);
    background-size:cover;
}
.parte3-main .container{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 5em;
    margin-top: 5em;
}
.parte3-main .container article{
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.parte3-main .container article h4{
    font-size: 2.5em;
}
.parte3-main .container article p{
    max-width: 70%;
}
.parte3-main .container article .sea-guardian-info{
    display: flex;
    justify-content: center;
    gap: 3em;
    align-items: center;
}

.parte3-main .container article .sea-guardian-info figure img{
    height:9em;  
    border-radius: 20px;
}
.parte3-main .container article .sea-guardian-info-secundaria{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 10em;
}
.parte3-main .container article .sea-guardian-info-secundaria h5,h6{
    font-size: 1.3em;
}
.parte3-main .container article .sea-guardian-info-secundaria p{
    padding-bottom: 2.5em;
}
.parte3-main .container article .sea-guardian-info-secundaria .seta{
    display: flex;
    max-width: 80%; 
    align-items: center;
}
.parte3-main .container article .sea-guardian-info-secundaria .seta .corpo-seta{
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}
.parte3-main .container article .sea-guardian-info-secundaria .seta .cabeca-seta{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 15px solid transparent;
 
}
.parte3-main .container article .sea-guardian-info-secundaria .etapas{
    display: flex;
    max-width: 80%; 
    gap: 1.5em;
    align-items: center;
   
}

.parte3-main .container article .sea-guardian-info-secundaria .etapas figure img{
    background-color: #fff;
    padding: 1%;
    border-radius: 50%;
    height: 7em;
}
.parte3-main .container article .sea-guardian-info-secundaria .etapas figure figcaption h4{
    max-width: 80%;
    padding-top: 2%;
    font-size: 0.9em;
    font-weight: 500;
}
}
